from assets.pipeline import pipeline

from pathlib import Path

import torch
from autoimplant.model.baseline import ModelX8

from dpipe.torch.functional import dice_loss

exp_root = Path('/gpfs/gpfs0/a.shevtsov/experiments/autoimplant/')
data_root = Path('/gpfs/gpfs0/a.shevtsov/data/trainset2021')

model = ModelX8()

num_epochs = 10
lr = 1e-3

optimizer = torch.optim.Adam(model.parameters(), lr=lr)

criterion = dice_loss

run = pipeline('model_x8_dl', exp_root, data_root, model, optimizer, num_epochs, criterion)
