from assets.baseline.pipeline import pipeline

from pathlib import Path

import torch
import torch.nn as nn
from autoimplant.model.baseline import SecondStageUNet

exp_root = Path('/gpfs/gpfs0/a.shevtsov/experiments/autoimplant/')
data_root = Path('/gpfs/gpfs0/a.shevtsov/data/trainset2021')

model = SecondStageUNet()

num_epochs = 10
lr = 1e-3

optimizer = torch.optim.Adam(model.parameters(), lr=lr)

criterion = nn.BCELoss()

run = pipeline('ss_unet', exp_root, data_root, model, optimizer, num_epochs, criterion)
