from data_generation.each_other_registration import prep_img_autoimpl
from data_generation.synthetic_defect_generator import add_defect2folder

run = prep_img_autoimpl('/gpfs/gpfs0/a.shevtsov/data/trainset2021/complete_skull', 10, 'bilateral', overwrite=False)
# run = add_defect2folder('/gpfs/gpfs0/a.shevtsov/data/trainset2021/complete_skull', num_defects=1)
